<div>
    <div><img src="https://lh3.googleusercontent.com/xRehlUaP-Bs7Z1znCmaoiP9qeDu1Oa2CwdoWA2dwkKb7xay6cff5jZTTsW8oXQKvCKrFIw7PNxppbk4z_6aexuQeVLQvubXifKiXbXry9NuFwGI8IbUGAyWXx_oRiqf30s5Dp0cl" style="width: 224px; height: 48px; "></div>
</div>