<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-6xl font-bold mt-4 mb-4">
            Luxury Escapes
          </h1>
        </div>
        <h2 class="mt-4 mb-16 text-lg text-center text-gray-600">
          Powered by Web.Eng, our document signing web platform that provides secure and efficient digital document signing and processing. Are you interested in getting this solution for your business? Please <a href="https://thewebsiteengineer.com/contact-us/" target="_blank">Contact Us</a>
        </h2>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/attribution', with_counter: true %>
